/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);*/

/*@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i&subset=latin-ext');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700,700i&subset=latin-ext');
html{
    font-family: 'Montserrat', sans-serif;
    background-color:#092a35;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*MaterializeCSS fixes*/
.dropdown-trigger{
    outline: none !important;
}
.parallax-container {
    height: 100vh;
}
.nav-image{
    background-size: contain;
}

/*Codeshape Card*/
@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);

.pointer{
    cursor: pointer;
}

.card-body{
    text-align: center;
    padding: 10px;
}
.fixed-card{
    margin-bottom: 25px;
    font-family: "Exo 2", sans-serif;
}
.fixed-card:hover{
    transition-duration: 0.2s;
    transform: scale(1.05);
}
.card-header .card-padding-box i.photo-box-icon{
    color: rgba(255,255,255,.0);
}
.fixed-card:hover .card-header .card-padding-box i.photo-box-icon{
    color: rgba(255,255,255,.8);
}
.fixed-card__gallery{
    /*display: flex;*/
    width: 100%;
    text-decoration: none;
    color: #000;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.card-padding-box{
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 56.25%;
}
.name{
    font-size: 18px;
    /*font-weight: 700;*/
    margin: 10px auto 0 auto;
}

.price{
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    /*color: #1a237e;*/
}

.bio{
    font-size: 14px;
    color: #7B7B7B;
    font-weight: 300;
    margin: 10px auto;
    line-height: 20px;
}


.card-footer{
    padding: 0 5px 1px 5px;
    /*width: 100%;*/
}
.stat{
    text-align: center;
}
.left-border{
    border-left: 1px solid #bdbdbd;
}
.stat .label{
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    /*color: #95989A;*/
}
.space{
    height: 10px;
}
.space__more{
    height: 20px;
}

.stat .value{
    display: block;
    /*font-weight: 700;*/
    font-size:15px;
    margin-top: 5px;
}

/*CustomCSS*/
.card-info{
    font-size: 15pt;
}

.photo-box{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.photo-box-icon{
    color: rgba(255,255,255,0);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s;
}
.card-padding-box__search:hover .photo-box-icon, .photo-box:hover .photo-box-icon{
    color: rgba(255,255,255,.8);
}



/*Custom Card*/
.custom-card{
    width: 100%;
    margin-bottom: 25px;
}
.custom-card .custom-header{
    width: 100%;
    padding: 15px;
    font-size: 15pt;
}
.custom-card .custom-body{
    width: 100%;
}
.custom-title{
    font-size: 15pt;
    width: 100%;
    padding: 10px 20px;
}
.bg-pattern{
    background-image: url('../img/asfalt-light.png');
    color: #fff;
}
.bg-pattern__dotted{
    background-image: url('../img/3px.png');
    /*color: #fff;*/
}
.custom-body table{
    margin-left: 10px;
}
/*.custom-body .equipment{
    padding: 15px 5px 5px 10px;
    max-height: 44px;
}*/
.boxed{
    width: 100%;
    font-size: 17px;
}
.boxed .header{
    border-bottom: 1px solid #ffc107;
    padding: 10px 20px;
    width: 100%;
}
.boxed .item{
    color: white;
    max-height: 44px;
    padding: 15px 5px 5px 10px;
}
.boxed .description{
    padding: 10px 20px;
}
.boxed .parameters{
    padding: 0 20px;
    margin-bottom: -20px;
}
@media screen and (max-width: 600px) {
  .boxed .parameters {
    width: 600;
    overflow: scroll;
  }
}
.custom-body.description{
    padding: 10px 20px;
}
/*l - letter*/
.l-gray{
    color: #95989A;
}
/*Fixes*/
.thin-font{
    font-weight: 300 !important;
    font-weight: 300;
}
.minus-nav{
    margin-top: -64px;
}
.minus-nav__spacer{
    padding-top: 64px;
}
.info-nav{
    margin: 40px 0;
}
/*Custom Contact CSS*/
.contact{
    background-image: url('../img/highway.jpeg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    min-height: 100vh;
    width: 100%;
}
.contact {
    padding: 64px 0;
}
.contact .custom-title{
    boder-radius: 3px 3px 0 0;
    padding: 10px 0;
    font-size: 17pt;
}
.card{
    /*background-color: rgba(255,255,255,.5);*/
}
.contact .card{
    padding: 30px;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin: 8px 10px;
}
.hr-sect::before, .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(255, 255, 255, 1);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 20px;
}
.make-inline span{
    display: inline-block;
}
.footer-link{
    text-decoration: underline;
    text-decoration-style: dotted;
}
.collapsible-fix .collapsible-body{
    border-bottom: none;
    border-top: 1px solid #ffc107;
}
.collapsible-fix .collapsible-header{
    outline: none !important;
    border: none !important;
}
.no-border{
    border: none !important;
}

/*Car Informations*/


/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}
/* label focus color */
.input-field input:focus + label, .input-field textarea:focus + label {
    color: #ffc107 !important;
}
 /* label underline focus color */
.row .input-field input:focus, .row .input-field textarea:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffc107;
}
